.scrollVertical{
    animation: verticalAnimation 25s linear infinite;
}
@keyframes verticalAnimation {
    to{transform: translateY(-100%);}
}
.scrollHorrizontal{
    animation: horizontalAnimation 7s linear infinite;
}
@keyframes horizontalAnimation {
    to{transform: translateX(-100%);}
}


.com{
    animation: comment 18s infinite;
    padding-right: 100%;
}
@keyframes comment {
    0%{
        transform: translate(0, 0);
    }
    100%{
        transform: translate(0, 100%);
    }
}
.logoAn{
    animation: logoan 4s infinite ease-out;
}
@keyframes logoan {
    50%{transform: translateY(-10px);}
    70%{transform: translateY(-10px);}
    100%{transform: translateY(0px);}
}
.lineargrad{
    /* background-image: linear-gradient(red, yellow); */

    background-image: linear-gradient(to right, #072a8a,#75d7e4,#75e4a7);
}
.lineargradtext{
        background: -webkit-linear-gradient( blue, rgb(101, 214, 148));
        background-clip: text;
        -webkit-text-fill-color: transparent;
}

.navhov{
}
.navhov:hover{
    color: rgba(59, 136, 219, 1);
}

.outlineInput{
    outline: rgba(38, 103, 255, 1);
}
.outlineInput:focus{
    border: 2px solid rgba(38, 103, 255, 1);;
}
.googleBorder{
    border: 1px solid white;
    border-radius: 20px;
    background-image: linear-gradient(white, white), 
                      linear-gradient(to right, rgba(255, 65, 49, 1), rgba(255, 189, 0, 1), rgba(0, 170, 75, 1), rgba(0, 134, 249, 1));
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 1px;
}
.commentscroll {
    overflow: hidden; /* or overflow: scroll; */
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
    ::-webkit-scrollbar { display: none; } /* Chrome, Safari, Opera */
}
.singleComUp:hover{
    transform: rotate(-5deg);
    transition-duration: 0.3s;
}
.singleComDown:hover{
    transform: rotate(5deg);
    transition-duration: 0.3s;
}


